In [2]:
import numpy as np
import pandas as pd

In [4]:
# Series的创建
# 1）通过一维数组创建序列
import numpy as np, pandas as pd
arr1 = np.arange(10)
arr1
type(arr1)
s1 = pd.Series(arr1)
print s1
type(s1)

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

pandas.core.series.Series

In [6]:
# 2）通过字典的方式创建序列
dic1 = {'a':10,'b':20,'c':30,'d':40,'e':50}
dic1
type(dic1)
s2 = pd.Series(dic1)
print s2
type(s2)

a    10
b    20
c    30
d    40
e    50
dtype: int64

pandas.core.series.Series

In [ ]:
# DataFrame的创建

In [8]:
# 1）通过二维数组创建数据框
arr2 = np.array(np.arange(12)).reshape(4,3)
arr2
type(arr2)
df1 = pd.DataFrame(arr2)
print df1
type(df1)

   0   1   2
0  0   1   2
1  3   4   5
2  6   7   8
3  9  10  11

pandas.core.frame.DataFrame

In [10]:
# 2) 通过字典的方式创建数据框
dic2 = {'a':[1,2,3,4],'b':[5,6,7,8],
        'c':[9,10,11,12],'d':[13,14,15,16]}
dic2
type(dic2)
df2 = pd.DataFrame(dic2)
print df2
type(df2)

   a  b   c   d
0  1  5   9  13
1  2  6  10  14
2  3  7  11  15
3  4  8  12  16

pandas.core.frame.DataFrame

In [12]:
dic2 = {'a':[1,2,3,4],'b':[5,6,7,8],
        'c':[9,10,11,12],'d':[13,14,15,16]}
dic2
type(dic2)
df2 = pd.DataFrame(dic2)
print df2
type(df2)

   a  b   c   d
0  1  5   9  13
1  2  6  10  14
2  3  7  11  15
3  4  8  12  16

pandas.core.frame.DataFrame

In [14]:
# 数据索引index

In [16]:
# 1、通过索引值或索引标签获取数据
s4 = pd.Series(np.array([1,1,2,3,5,8]))
print s4

0    1
1    1
2    2
3    3
4    5
5    8
dtype: int64

In [17]:
# 我们为序列设定一个自定义的索引值
s4.index = ['a','b','c','d','e','f']
print s4

a    1
b    1
c    2
d    3
e    5
f    8
dtype: int64

In [24]:
# 序列有了索引，就可以通过索引值或索引标签进行数据的获取
print "s4[3]:", s4[3]
print "s4['e']:", s4['e']
print "s4[[1,3,5]]:\n", s4[[1,3,5]]
print "s4[['a','b','d','f']]:\n", s4[['a','b','d','f']]
print "s4[:4]:\n", s4[:4]
print "s4['c':]:\n", s4['c':]
print "s4['b':'e']:\n", s4['b':'e']

s4[3]: 3
s4['e']: 5
s4[[1,3,5]]:
b    1
d    3
f    8
dtype: int64
s4[['a','b','d','f']]:
a    1
b    1
d    3
f    8
dtype: int64
s4[:4]:
a    1
b    1
c    2
d    3
dtype: int64
s4['c':]:
c    2
d    3
e    5
f    8
dtype: int64
s4['b':'e']:
b    1
c    2
d    3
e    5
dtype: int64

In [ ]:
# 千万注意：如果通过索引标签获取数据的话，末端标签所对应的值是可以返回的！在一维数组中，就无法通过索引标签获取数据，这也是序列不同于一维数组的一个方面。

In [ ]:
# 2、自动化对齐
# 如果有两个序列，需要对这两个序列进行算术运算，这时索引的存在就体现的它的价值了—自动化对齐

In [25]:
s5 = pd.Series(np.array([10,15,20,30,55,80]), 
               index = ['a','b','c','d','e','f'])
s5
s6 = pd.Series(np.array([12,11,13,15,14,16]), 
               index = ['a','c','g','b','d','f'])
s6
s5 + s6
s5/s6

a    0.833333
b    1.000000
c    1.818182
d    2.142857
e         NaN
f    5.000000
g         NaN
dtype: float64

In [ ]:
# 利用pandas查询数据
# 可以通过布尔索引有针对的选取原数据的子集、指定行、指定列等

In [41]:
# 我们先导入一个student数据集
student = pd.io.parsers.read_csv('/home/qiso/jameshu/learn.csv', '\t')
student

  EMPID Gender  Age  Sales          BMI  Income
0  E001      M   34    123       Normal     350
1  E002      F   40    114   Overweight     450
2  E003      F   37    135      Obesity     169
3  E004      M   30    139  Underweight     189
4  E005      F   44    117  Underweight     183
5  E006      M   36    121       Normal      80
6  E007      M   32    133      Obesity     166
7  E008      F   26    140       Normal     120
8  E009      M   32    133       Normal      75
9  E010      M   36    133  Underweight      40

In [39]:
# 查询数据的前5行
student.head()

  EMPID Gender  Age  Sales          BMI  Income
0  E001      M   34    123       Normal     350
1  E002      F   40    114   Overweight     450
2  E003      F   37    135      Obesity     169
3  E004      M   30    139  Underweight     189
4  E005      F   44    117  Underweight     183

In [40]:
# 查询末尾5行
student.tail()

  EMPID Gender  Age  Sales          BMI  Income
5  E006      M   36    121       Normal      80
6  E007      M   32    133      Obesity     166
7  E008      F   26    140       Normal     120
8  E009      M   32    133       Normal      75
9  E010      M   36    133  Underweight      40

In [37]:
# 查询指定的行
student.ix[[0,2,4,5,7]] #这里的ix索引标签函数必须是中括号[]

  EMPID Gender  Age  Sales          BMI  Income
0  E001      M   34    123       Normal     350
2  E003      F   37    135      Obesity     169
4  E005      F   44    117  Underweight     183
5  E006      M   36    121       Normal      80
7  E008      F   26    140       Normal     120

In [36]:
# 查询指定的列
student[['Age','Sales','BMI']].head()  #如果多个列的话，必须使用双重中括号

   Age  Sales          BMI
0   34    123       Normal
1   40    114   Overweight
2   37    135      Obesity
3   30    139  Underweight
4   44    117  Underweight

In [35]:
# 也可以通过ix索引标签查询指定的列
student.ix[[0,2,4,5,7],['Age','Sales','BMI']].head()

   Age  Sales          BMI
0   34    123       Normal
2   37    135      Obesity
4   44    117  Underweight
5   36    121       Normal
7   26    140       Normal

In [43]:
# 查询所有Gender为“M”的
print student['Gender']=='M'
student[student['Gender']=='M']

0     True
1    False
2    False
3     True
4    False
5     True
6     True
7    False
8     True
9     True
Name: Gender, dtype: bool

  EMPID Gender  Age  Sales          BMI  Income
0  E001      M   34    123       Normal     350
3  E004      M   30    139  Underweight     189
5  E006      M   36    121       Normal      80
6  E007      M   32    133      Obesity     166
8  E009      M   32    133       Normal      75
9  E010      M   36    133  Underweight      40

In [46]:
# 查询所有Gender为“M” 且 Age为32
student[(student['Gender']=='M') & (student['Age']==32)]

  EMPID Gender  Age  Sales      BMI  Income
6  E007      M   32    133  Obesity     166
8  E009      M   32    133   Normal      75

In [ ]:
# 上面的查询逻辑其实非常的简单，需要注意的是，如果是多个条件的查询，必须在&（且）或者|（或）的两端条件用括号括起来

In [ ]:
# 统计分析
# pandas模块为我们提供了非常多的描述性统计分析的指标函数，如总和、均值、最小值、最大值等

In [47]:
np.random.seed(1234)
d1 = pd.Series(2*np.random.normal(size = 100)+3)
d2 = np.random.f(2,4,size = 100)
d3 = np.random.randint(1,100,size = 100)
d1.count()  #非空元素计算
d1.min()    #最小值
d1.max()    #最大值
d1.idxmin() #最小值的位置，类似于R中的which.min函数
d1.idxmax() #最大值的位置，类似于R中的which.max函数
d1.quantile(0.1)    #10%分位数
d1.sum()    #求和
d1.mean()   #均值
d1.median() #中位数
d1.mode()   #众数
d1.var()    #方差
d1.std()    #标准差
d1.mad()    #平均绝对偏差
d1.skew()   #偏度
d1.kurt()   #峰度
d1.describe()   #一次性输出多个描述性统计指标

count    100.000000
mean       3.070225
std        2.001402
min       -4.127033
25%        2.040101
50%        3.204555
75%        4.434788
max        7.781921
dtype: float64

In [48]:
def stats(x):
    return pd.Series([x.count(),x.min(),x.idxmin(),
               x.quantile(.25),x.median(),
               x.quantile(.75),x.mean(),
               x.max(),x.idxmax(),
               x.mad(),x.var(),
               x.std(),x.skew(),x.kurt()],
              index = ['Count','Min','Whicn_Min',
                       'Q1','Median','Q3','Mean',
                       'Max','Which_Max','Mad',
                       'Var','Std','Skew','Kurt'])
stats(d1)

Count        100.000000
Min           -4.127033
Whicn_Min     81.000000
Q1             2.040101
Median         3.204555
Q3             4.434788
Mean           3.070225
Max            7.781921
Which_Max     39.000000
Mad            1.511288
Var            4.005609
Std            2.001402
Skew          -0.649478
Kurt           1.220109
dtype: float64

In [54]:
# 将之前创建的d1,d2,d3数据构建数据框
df = pd.DataFrame(np.array([d1,d2,d3]).T,columns=['x1','x2','x3'])
df.head()

         x1        x2    x3
0  3.942870  1.369531  55.0
1  0.618049  0.943264  68.0
2  5.865414  0.590663  73.0
3  2.374696  0.206548  59.0
4  1.558823  0.223204  60.0

In [52]:
df.apply(stats)

                   x1          x2          x3
Count      100.000000  100.000000  100.000000
Min         -4.127033    0.014330    3.000000
Whicn_Min   81.000000   72.000000   76.000000
Q1           2.040101    0.249580   25.000000
Median       3.204555    1.000613   54.500000
Q3           4.434788    2.101581   73.000000
Mean         3.070225    2.028608   51.490000
Max          7.781921   18.791565   98.000000
Which_Max   39.000000   53.000000   96.000000
Mad          1.511288    1.922669   24.010800
Var          4.005609   10.206447  780.090808
Std          2.001402    3.194753   27.930106
Skew        -0.649478    3.326246   -0.118917
Kurt         1.220109   12.636286   -1.211579

In [50]:
# 相关系数（corr）
df.corr()

          x1        x2        x3
x1  1.000000  0.136085  0.037185
x2  0.136085  1.000000 -0.005688
x3  0.037185 -0.005688  1.000000

In [55]:
# 如果只想关注某一个变量与其余变量的相关系数的话，可以使用corrwith
df.corrwith(df['x1'])

x1    1.000000
x2    0.136085
x3    0.037185
dtype: float64

In [59]:
# 类似于SQL的操作
# 聚合：pandas模块中可以通过groupby()函数实现数据的聚合操作
student2 = student[['Gender', 'Age', 'Sales', 'Income']]
student2

  Gender  Age  Sales  Income
0      M   34    123     350
1      F   40    114     450
2      F   37    135     169
3      M   30    139     189
4      F   44    117     183
5      M   36    121      80
6      M   32    133     166
7      F   26    140     120
8      M   32    133      75
9      M   36    133      40

In [60]:
student2.groupby('Gender').sum()

        Age  Sales  Income
Gender
F       147    506     922
M       200    782     900

In [61]:
student2.groupby('Gender').mean()

              Age       Sales  Income
Gender
F       36.750000  126.500000   230.5
M       33.333333  130.333333   150.0

In [66]:
student2.groupby('Gender').agg([np.median, np.mean])

          Age             Sales             Income
       median       mean median        mean median   mean
Gender
F        38.5  36.750000    126  126.500000    176  230.5
M        33.0  33.333333    133  130.333333    123  150.0

In [69]:
# 排序
student2.sort_values(by = ['Sales'], ascending=False)

  Gender  Age  Sales  Income
7      F   26    140     120
3      M   30    139     189
2      F   37    135     169
6      M   32    133     166
8      M   32    133      75
9      M   36    133      40
0      M   34    123     350
5      M   36    121      80
4      F   44    117     183
1      F   40    114     450